<div>
    <ul class="nav flex-column">
        <li class="nav-list">
            <a routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
                <span class="nav-link-text">Home</span>
            </a>
        </li>
        <li class="nav-list">
            <a routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/table">
                <span class="nav-link-text">Table</span>
            </a>
        </li>
        <li class="nav-list">
            <a routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/pie-chart">
                <span class="nav-link-text">Pie Chart</span>
            </a>
        </li>
        <li class="nav-list">
            <a routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/bar-chart">
                <span class="nav-link-text">Bar Chart</span>
            </a>
        </li>
    </ul>
</div>

<!-- 
    "/path" absolute path appends to root level. 
    "path" relative path appends "/path" to current acive route. 
    "../path", etc. allows you to navigate folder paths.

    routerLinkActive displays the active link.
    routerLinkActiveOptions active if active link is absolute match to routerLink.
-->